body {
    color: #222;
    background: #f5f5f5;
    font-family: Lato, sans-serif;
    font-weight: 300;
    line-height: 1.6;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Lato, sans-serif;
    font-weight: 700;
}


hr {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #fff;
}

a {
    color: #4682b4;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

a:hover,
a:focus {
    color: #DAA520;
    text-decoration: none;
    outline: none;
}

body > section {
    padding: 50px 0;
}

.center {
    text-align: center;
}

.section-heading hr {
    margin: 20px auto;
    max-width: 330px;
    opacity: 0.9;
}

.section-heading p {
  text-transform: uppercase;
}

.main-title {
    text-transform: uppercase;
    letter-spacing: 6px;
}

#title h1 {
    margin: 0;
    font-size: 36px;
    font-weight: 300;
}

.block-indent {
    padding-left: 30px;
}

.list-indent {
    padding-left: 22px;
}

.content-indent {
    padding-left: 83px;
}

.fa-md {
    font-size: 36px;
    height: 68px;
    width: 68px;
    line-height: 68px;
    color: #fff;
    margin-right: 15px;
    background-color: #303030;
    text-align: center;
    display: block;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 1);
    overflow: hidden;
    -webkit-transition: background .3s color .3s box-shadow .3s;
    -moz-transition: background .3s color .3s box-shadow .3s;
    transition: background .3s color .3s box-shadow .3s;
}

.content-block:hover .fa-md {
    background: transparent;
    color: #303030;
    box-shadow: 0 0 0 4px #303030;
}

.content-block .content-heading {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 16px;
}

.section-heading hr {
    margin: 5px auto;
    max-width: 600px;
}

.gap {
    margin-bottom: 50px;
}

.small-gap {
    margin-bottom: 25px;
}

.big-gap {
    margin-bottom: 100px;
}

.row > div {
    margin-bottom: 10px;
}

.no-display {
    opacity: 0;
}

.appear {
    opacity: 1;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.white {
    background: #f8f8f8;
    padding: 20px 0;
}

#content-wrapper {
  box-shadow: none;
}

#content-wrapper {
    padding: 0;
    z-index: 5;
    position: relative;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.4);
}

#content-wrapper section {
  padding-top: 60px;
  padding-bottom: 60px;
}

/*--------------*/
/*  Navigation
/*--------------*/

.navbar-inverse {
    background-color: #202020;
    border: none;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.navbar-inverse .navbar-toggle {
    background-color: transparent;
    color: #fff;
}

.navbar-fixed-top {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.navbar-inverse .navbar-brand {
    font-family: Lato, sans-serif;
    font-size: 36px;
    line-height: 50px;
    color: #fff;
}

.navbar-inverse .navbar-nav {
    margin-top: 15px;
    margin-bottom: 15px;
}

.navbar-inverse .navbar-nav > li > a {
    position: relative;
    display: inline-block;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0;
    font-size: 15px;
    padding: 10px;
    color: #f5f5f5;
    font-weight: 700;
    text-shadow: none;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    transition: color .3s;
}

.navbar-inverse .navbar-nav > li > a::before,
.navbar-inverse .navbar-nav > li > a::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    content: '';
    opacity: 0;
    -webkit-transition: opacity .3s 0 .3s;
    -moz-transition: opacity .3s 0 .3s;
    transition: opacity .3s transform .3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.navbar-inverse .navbar-nav > li > a:hover::before,
.navbar-inverse .navbar-nav > li > a:focus::before,
.navbar-inverse .navbar-nav > li > a:hover::after,
.navbar-inverse .navbar-nav > li > a:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.navbar-inverse .navbar-nav > li > a::before {
    top: 0;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
    display: none;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.navbar-inverse .navbar-nav > li > a::after {
    bottom: 0;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.navbar-inverse .navbar-nav > li > a::before,
.navbar-inverse .navbar-nav > li > a::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    content: '';
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transition: opacity .3s 0 .3s;
    -moz-transition: opacity .3s 0 .3s;
    transition: opacity .3s transform .3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: transparent;
}

.navbar-inverse .navbar-nav .dropdown-menu {
    background-color: #202020;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0;
    padding: 0;
    margin-top: 15px;
}

.navbar-right .dropdown-menu {
    right: auto;
    left: 0;
}

.navbar-inverse .navbar-nav .dropdown-menu > li > a {
    padding: 8px 15px;
    color: #efefef;
}

.navbar-inverse .navbar-nav .dropdown-menu > li:hover > a,
.navbar-inverse .navbar-nav .dropdown-menu > li:focus > a,
.navbar-inverse .navbar-nav .dropdown-menu > li.active > a {
    background-color: rgba(0, 0, 0, 0.3);
}

.navbar-inverse .navbar-nav .dropdown-menu > li:last-child > a {
    border-radius: 0 0 3px 3px;
}

.navbar-inverse .navbar-nav .dropdown-menu > li.divider {
    background-color: rgba(0, 0, 0, 0.1);
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-top: 0;
}

.opaqued {
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    text-shadow: rgba(0, 0, 0, 0.4) 0 1px 1px;
}

.navbar-inverse.opaqued .navbar-nav .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.navbar-brand h1 {
    margin: 0;
    font-weight: 700;
    font-size: 30px;
    margin-top: 4px;
}

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #f5f5f5 url('../images/loading.GIF') no-repeat center center;
}

.mb0 {
  margin-bottom: 0 !important;
}

.navbar-header h1 {
    color: #fff;
    font-size: 24px;
    letter-spacing: 2px;
    margin: 0;
}

.navbar-inverse .navbar-nav {
  margin-top: 0px;
    margin-bottom: 0px;
}

.navbar-inverse .navbar-nav > li > a {
    letter-spacing: 1px;
    font-size: 15px;
    padding: 15px 15px 10px;
    color: #f5f5f5;
    font-weight: 400;
}

/*--------------*/
/*  BIO
/*--------------*/

.btn {
    padding: 10px 16px;
    font-size: 13px;
    letter-spacing: 2px;
}

.icon .btn {
    line-height: center;
    height: 45px;
    width: 45px;
    padding: 0;
}

.btn-social {
    color: #fff;
    border-radius: 0;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.btn-social.btn-github {
    font-size: 30px;
    border: 2px solid #555555;
    color: #555555;
}

.btn-social.btn-github:hover {
    background: #555555;
}

.btn-social.btn-twitter {
    font-size: 30px;
    border: 2px solid #4682B4;
    color: #4682B4;
}

.btn-social.btn-twitter:hover {
    background: #4682B4;
}

.btn-social.btn-atcoder {
    font-size: 30px;
    border: 2px solid #A52A2A;
    color: #A52A2A;
}

.btn-social.btn-atcoder:hover {
    background: #A52A2A;
}

.btn-social:hover {
    color: #fff;
}

.form-control {
    height: 42px;
}

.widget-title {
    margin-top: 0;
    font-size: 16px;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.overlay .btn-outlined.btn-primary {
  background-color: #fff;
  border-color: #fff;
}

/*---------*/
/*  Works
/*---------*/

.works-items {
    list-style: none;
    padding: 0;
    margin: 0 -20px 20px 0;
}

.works-items > li {
    float: left;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.works-items.col-2 > li {
    width: 50%;
}

.works-items.col-3 > li {
    width: 33%;
}

.works-items.col-4 > li {
    width: 25%;
}

.works-items.col-5 > li {
    width: 20%;
}

.works-items.col-6 > li {
    width: 16%;
}

.works-item {
    padding: 0;
    margin: 0;
}

.works-item .item-inner {
    background: #fff;
    padding: 0;
    margin: 0 20px 20px 0;
    position: relative;
}

.works-item img {
    width: 100%;
}

.works-item h5 {
    background: #fff;
    margin: 0;
    padding: 15px;
    font-weight: 700;
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    border-bottom: 4px solid #f0f0f0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.works-item:hover h5,
.icon:hover .team-content,
.post:hover .content {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    border-bottom: 4px solid #669999;
}

.works-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
    vertical-align: middle;
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    transition: opacity 300ms;
}

.works-item .overlay .preview {
    position: relative;
    top: 50%;
    display: inline-block;
    margin-top: -20px;
}

.works-item:hover .overlay {
    opacity: 1;
}