body {
  font-family: Quicksand, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.8;
}

.nav-toggle {
  position: fixed;
  top: 0;
  left: -5px;
  padding: 20px;
  text-decoration: none;
  cursor: pointer;
  visibility: hidden;
  opacity: 1;
  transition: 0.5s;
}

.nav-toggle i {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 2px;
  color: #222;
  background: #222;
  transition: all 0.1s ease-out;
}

.nav-toggle i::before,
.nav-toggle i::after {
  position: absolute;
  left: 0;
  width: 20px;
  height: 2px;
  content: "";
  background: #222;
  transition: 0.1s;
}

.nav-toggle i::before {
  top: -7px;
}

.nav-toggle i::after {
  bottom: -7px;
}

.nav-toggle:hover i::before {
  top: -10px;
}

.nav-toggle:hover i::after {
  bottom: -10px;
}

.nav-toggle.active i {
  background: transparent;
}

.nav-toggle.active i::before {
  top: 0;
  transform: rotateZ(45deg);
}

.nav-toggle.active i::after {
  bottom: 0;
  transform: rotateZ(-45deg);
}

@media screen and (max-width: 768px) {
  .nav-toggle {
    visibility: visible;
    opacity: 1;
  }
}

.main {
  float: right;
  width: calc(100% - 300px);
  transition: 0.5s;
}

@media screen and (max-width: 768px) {
  .main {
    width: 100%;
    padding: 0 1em;
  }
}

.main-title {
  position: relative;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.8;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.sub-title {
  font-weight: 400;
  color: #666;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.about {
  margin: 120px 0 60px 30px;
  clear: both;
}

.about .title {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.experience,
.event {
  margin: 0 0 80px 30px;
  clear: both;
}

.event-item {
  position: relative;
  width: 80%;
  margin: 15px 0 30px;
}

.event-item .icon.color-1 {
  position: absolute;
  width: 10px;
  height: 10px;
  margin: 8px 0 0 16px;
  background: #444;
  border-radius: 1px;
}

.event-item .icon.color-2 {
  position: absolute;
  width: 10px;
  height: 10px;
  margin: 8px 0 0 16px;
  background: #888;
  border-radius: 1px;
}

.event-item .content {
  padding: 0 0 0 55px;
}

.timeline {
  position: relative;
  margin: 0 0 30px 30px;
}

.timeline::before {
  position: absolute;
  top: 20px;
  bottom: -10px;
  display: block;
  width: 3px;
  margin-left: -11px;
  content: "";
  background: #f5f5f5;
}

.timeline::after {
  display: table;
  content: "";
}

.timeline .timeline-item {
  width: 80%;
  margin: 10px 0 10px -20px;
}

.timeline .timeline-item .icon {
  float: left;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
}

.timeline .timeline-item .icon.color-1 {
  margin-top: 10px;
  background: #444;
}

.timeline .timeline-item .icon.color-2 {
  margin-top: 10px;
  background: #666;
}

.timeline .timeline-item .icon.color-3 {
  margin-top: 10px;
  background: #888;
}

.timeline .timeline-item .icon.color-4 {
  margin-top: 10px;
  background: #aaa;
}

.timeline .timeline-item .icon.color-5 {
  margin-top: 10px;
  background: #ccc;
}

.timeline .timeline-item .icon.color-6 {
  margin-top: 10px;
  background: #eee;
}

.timeline .timeline-item .content {
  position: relative;
  padding: 12px 24px;
  margin-left: 60px;
  background: rgb(0 0 0 / 5%);
}

.timeline .timeline-item .content::after {
  position: absolute;
  top: 10px;
  left: 0;
  display: block;
  width: 0;
  height: 0;
  margin-left: -9px;
  content: "";
  border-color: transparent rgb(0 0 0 / 5%) transparent transparent;
  border-style: solid;
  border-width: 9px 9px 9px 0;
}

.timeline .timeline-item .content .title {
  margin-top: 0;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}

.timeline .timeline-item .content span {
  font-size: 12px;
  opacity: 0.4;
}

.timeline .timeline-item .content p {
  margin: 0 auto;
  font-size: 12px;
  line-height: 1.5;
}

.event-item .content a,
.timeline-item .content p a {
  font-weight: 500;
  color: rgb(0 0 0 / 60%);
  text-decoration: none;
  letter-spacing: 1px;
}

#aside {
  position: fixed;
  width: 300px;
  padding-top: 100px;
  transition: 0.5s;
}

@media screen and (max-width: 768px) {
  #aside {
    transform: translateX(-300px);
  }
}

#aside .author-img {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  background-size: cover;
}

#aside #menu {
  margin: 15px 0;
}

#aside #menu .collapse {
  display: block;
  width: 100%;
}

#aside #menu ul {
  padding: 0;
  margin: 15px;
  text-align: center;
}

#aside #menu ul li,
#aside #menu ul li a {
  position: relative;
  margin: 10px 0;
  font-size: 12px;
  font-weight: 500;
  color: rgb(0 0 0 / 60%);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  list-style: none;
  transition: 0.3s;
}

#aside #menu ul li a:hover,
#aside #menu ul li a:active,
#aside #menu ul li a:focus {
  color: #000;
  text-decoration: none;
  outline: none;
}

#aside #menu .external-link {
  width: 100%;
}

#aside #menu .external-link ul li,
#aside #menu .external-link ul li a {
  display: inline;
  padding: 6px;
}

body.offcanvas {
  overflow-x: hidden;
}

body.offcanvas #aside {
  transform: translateX(0);
}

body.offcanvas .main,
body.offcanvas .nav-toggle {
  transform: translateX(300px);
}

.js .animate-box {
  opacity: 0;
}
